PATH_add bin

source_local() {
  file=./.envrc.local
  if [[ -f "$file" ]]; then
    source_env $file
  fi
  watch_file $file
}

source_local

dotenv website/deploy/development/snack.env

API_SERVER_URL=http://localhost:3020
SERVER_URL=http://expo.test
