# macOS
.DS_Store

# Node
node_modules
npm-debug.log
yarn-error.log
package-lock.json

# dotenv
.env
!.env.example

# IDEs
.idea

# git-crypt keys
.git/

# snackpub
snackpub/build

# turborepo
.turbo/
