apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: production
resources:
- ../base
- vertical-pod-autoscaler.yaml
patchesStrategicMerge:
- deployment-increase-replicas.yaml
- service-backend.yaml
configMapGenerator:
- name: snackager-config
  behavior: merge
  envs:
  - snackager.env
secretGenerator:
- name: snackager-config
  behavior: merge
  envs:
  - secrets/snackager.env
