apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: snackager
spec:
  targetRef:
    apiVersion: "apps/v1"
    kind:       Deployment
    name:       snackager
  updatePolicy:
    updateMode: Auto
  resourcePolicy:
    containerPolicies:
    - containerName: snackager
      maxAllowed:
        cpu: 400m
        memory: 5Gi
