apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: production
resources:
  - ../base
  - vertical-pod-autoscaler.yaml
patchesStrategicMerge:
  - service-backend.yaml
  - deployment-replicas.yaml
secretGenerator:
  - name: snackpub-env
    envs:
      - secrets/snackpub.env
