:root {
  --font-normal: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-monospace: 'SF Mono', Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: auto;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: var(--font-normal);
  font-size: 14px;
  line-height: 1.42857143;
  overscroll-behavior: none;
}

div {
  scrollbar-width: thin;
  scrollbar-color: var(--color-disabled) var(--color-background);
}

@media (hover) {
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: var(--color-background);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-disabled);
    border-radius: 10px;
    border: 3px var(--color-background) solid;
  }
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

#root {
  height: 100vh;
}

a {
  color: #4099ff;
}
