name: SnackSDKLegacy

on:
  workflow_dispatch: {}
  push:
    branches: [main]
    paths:
      - .github/workflows/snack-sdk-legacy.yml
      - packages/snack-sdk-legacy/**
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/snack-sdk-legacy.yml
      - packages/snack-sdk-legacy/**

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn install --ignore-scripts --frozen-lockfile
        working-directory: packages/snack-sdk-legacy
      - run: yarn lint --max-warnings 0
        working-directory: packages/snack-sdk-legacy
      - run: yarn flow check
        working-directory: packages/snack-sdk-legacy
      - run: yarn build
        working-directory: packages/snack-sdk-legacy
