name: Website

defaults:
  run:
    working-directory: website

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/website.yml
      - website/**
      - packages/snack-sdk/**
      - .eslint*
      - .prettier*
      - yarn.lock
  pull_request:
    paths:
      - .github/workflows/website.yml
      - website/**
      - packages/snack-sdk/**
      - .eslint*
      - .prettier*
      - yarn.lock

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - run: yarn install --ignore-scripts --frozen-lockfile
      - run: yarn prepare
        working-directory: packages/snack-content
      - run: yarn build
        working-directory: packages/snack-sdk
      - run: yarn test --maxWorkers 1
      - run: yarn lint --max-warnings 0
      - run: ../node_modules/.bin/env-cmd -f deploy/development/snack.env yarn build
